.addPlayList-modal{
  top:10%;
  margin-top:0px;
  height: 150px;
}

.addPlayList-container{
  color: white;
  margin: 20px;
  margin-top: 40px
}

.addPlayList-label {
  font-size: 18px;
}

#addPlayList-input {
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  width: 80%;
  height: 35px;
  font-size: 14px;
  border-color: none;
  padding: 0px;
  border-radius:10px 0px 0px 10px;

}
#addPlayList-input {
  outline-width: 0px;
}

.addPlayList-button {
  height:35px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: #00d95f;
  border-radius: 0 10px 10px 0;
  transition: .4s;
}

.addPlayList-button:hover {
  background: #a00000;
  color: white;
}

.addPlayList-container-listMusic{
  display: grid;
  grid-template-columns: 1fr 1fr;
}