.bb-musica-play-controle{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.mp-musica-play-controle-icons{
  margin: 0px;
  margin-top:15px;
  margin-left: 15px;
  width: 25px;
}
.bb-controler{
  margin: 0px;
}

.bb-slider-bar{
  display: grid;
  grid-template-columns: 60px auto 60px;
}

.bb-tempo{
  margin: 0px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}