.addPlayList-modal{
  top:20%;
  margin-top:0px;
  height: 150px;
}

.addPlayList-container{
  color: white;
  margin: 20px;
  margin-top: 40px
}

.addPlayList-label {
  font-size: 18px;
}

#addPlayList-input {
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  width: 80%;
  height: 30px;
  font-size: 14px;
  border-color: none;
  padding: 0px;
}
#addPlayList-input {
  outline-width: 0px;
}

.addPlayList-button {
  height:30px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: rgb(194, 192, 192);
  border-radius: 0 15px 15px 0;
  transition: .4s;
}

.addPlayList-button:hover {
  background: #636363;
}