.sb-container {
  float: left;
  position: fixed;
  width: 215px;
  height: 100%;
  background-image: linear-gradient(rgb(24, 4, 16), #050101);
}

.side-container {
  display: grid;
  padding-bottom: 70px;
  grid-template-columns: 210px 1fr;
}

