.site-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.alinhar {
  grid-column-start: 2;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #00d95f; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
