.bb-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: rgb(34, 12, 12);
  border-top: 1px solid #282828;
  z-index: 1000000;
}

.bb-musica-play{
  justify-items: center;
  align-items: center;
}